<%= render 'shared/new_post_btn' %>
<%= render 'shared/category_nav' %>
<%= paginate @microposts %>
<div class="flex flex-wrap justify-center">
	<%= render @microposts %>
</div>
<%= paginate @microposts %>