<% if action_name == "show" %>
    <div id="<%= dom_id user %>" class="w-1/2 mx-auto">
  <% else %>
    <div id="<%= dom_id user %>" class="w-1/3">
  
<% end %>

  <p class="my-5">
    <strong class="font-medium">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="font-medium">Email:</strong>
    <%= user.email %>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user', edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
