<div class="flex justify-center mt-5 mb-5"> 
	<%= link_to "All", root_path, class: "block w-28 text-center border rounded-xl mr-5"%>
	<%= link_to "study", study_path, class: "block w-28 text-center border rounded-xl mr-5"%>
	<%= link_to "Love", love_path, class: "block w-28 text-center border rounded-xl mr-5"%>
	<%= link_to "Question", question_path, class: "block w-28 text-center border rounded-xl mr-5"%>
	<%= link_to "Soliloquy", soliloquy_path, class: "block w-28 text-center border rounded-xl"%>
</div>