<%= form_with(model: micropost, class: "contents") do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_area :content, rows: 12, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 mx-auto text-center w-1/2 text-xl", placeholder: "Tell us your mind here" %>
  </div>

  <div class="my-5">
    <%= form.select :backcolor, [["red", "red"], ["blue", "blue"], ["green", "green"], ["pink", "pink"]], include_blank: "choose one color for post's background" %>
  </div>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
