<div id="<%= dom_id micropost %>" style="background: <%= micropost.backcolor %>" class="w-96 h-96 rounded-lg">
  <div class="flex items-center h-4/5 justify-center text-white ">
    <p><%= micropost.content %></p>
  </div>

  <% if micropost.user_id == current_user.id && controller_name == "users" %>
    <div class="flex">
      <%= link_to "Show this micropost", micropost, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this micropost', edit_micropost_path(micropost), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% elsif micropost.user_id == current_user.id && action_name != "show" %>
      <div class="flex">
      <%= link_to "Show this micropost", micropost, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this micropost', edit_micropost_path(micropost), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% elsif action_name != "show" %>
    <%= link_to "Show this micropost", micropost, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>

<% if controller_name == "microposts" && action_name == "show"%>
  <% @comments.each do |c| %>
    <%= c.comment%>
  <% end %>

  <%= form_with(url: comment_path, scope: :comments, local: true) do |form| %>
    <%= form.text_field :comment, class: "block bg-red-50"%>
    <%= form.hidden_field :micropost_id, :value => @micropost.id%>
    <%= form.submit "add comment" %>
  <% end %>
<% end %>